.gray-box {
    margin-left: 8em;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5em;
    background-color: #c8cbd1;
}
.light-gray-box {
    background-color: #efefef !important;
    margin-top: 1em;
    margin-left: 12em;
    border-radius: 2em;
}
.psychologist-container {
    text-align: left;
    margin-left: 15em;
}